.login_container {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/project-shop-gundam.appspot.com/o/newProject%2Fflat-lay-workstation-with-cup-tea-copy-space.jpg?alt=media&token=51eed2aa-1afd-4212-8177-5b45755901c3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.login_container_body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
}