.login_container {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/project-shop-gundam.appspot.com/o/newProject%2F434045965_3652909271692528_3839853039784922537_n.jpg?alt=media&token=9ec8f653-ad24-48bb-a9f1-f423c464da93);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.login_container_body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
}